/* /home/jut/cost/frontend/src/components/FilterBar/FilterBar.css */

.filter-bar-container {
    padding: 8px; /* MUI theme spacing unit 1 is 8px by default */
    border-bottom: 1px solid #e0e0e0;
    border-radius: 25px;
    margin-bottom: 16px; /* MUI theme spacing unit 2 is 16px */
    background-color: #f9f9f9;
}

.filter-bar-inner-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Example for styling the icon if you move its sx prop too */
/* .filter-list-icon {
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.54); /* default for action.active */
/* } */